header {
  display: flex;
  justify-content: space-between;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
}

.logo_header {
  display: inline-flex;
  align-items: center;
}

.logo_header p {
  color: MediumAquamarine;
}

.content {
  display: flex;
  border: 2px solid black;
  justify-content: space-between;    /* I will need to add the right margin, wait to know the measure*/
}

.column {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
}

.large {
  width: 630px;
}

.medium {
  width: 300px;
}

.small {
  width: 240px;
}
