header {
  display: flex;
  justify-content: space-between;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
}

.logo_header {
  display: inline-flex;
  align-items: center;
}

.logo_header p {
  color: MediumAquamarine;
}

.main.container {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  justify-content: space-between;
}

.column.large {
  display: flex;
  width: 630px;
  border: 3px solid black;
}

.column.medium {
  display: flex;
  width: 300px;
}

.column.small {
  display: flex;
  width: 240px;
}

.thin.line {
  border: 3px solid black;
}

.medium.line {
  border: 3px solid black;
}

.large.line {
  border: 3px solid black;
}
