header {
  display: flex;
  justify-content: space-between;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
}

.logo_header {
  display: inline-flex;
  align-items: center;
}

.logo_header p {
  color: MediumAquamarine;
}

.main_container {
  display: flex;
}

.column1 {
  display: flex;
}

.column2 {
  display: flex;
}

.column3 {
  display: flex;
}
